.row {
    gap:20px;
}
.my_footer {
    display: flex;
    margin-top: auto;
    text-align: left;
    padding: 10px;
}
.error_alert {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-size: 18px;
    background-color: red;
    font-style: italic;
}